@font-face {
  font-family: ROMANUS;
  src: url(fonts/ROMANUS.otf) format(opentype);
}

:root {
  --color-primary: #DFD0B8;
  --color-secondary: #948979;
  --color-tertiary: #3C5B6F;
  --color-background: #153448;

  --font-titulo: 'ROMANUS', sans-serif;
  --font-texto: 'Arial', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Arial', sans-serif;
  background-image: linear-gradient(to top, var(--color-background), #000);
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #fff;
}

header {
  background-image: url(img/img-header3.jpg);
  background-size: cover;
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-color: rgba(0, 0, 0, 0.678);
  border-bottom: 3px solid var(--color-primary);
  width: 100%;
  height: auto;
  min-height: 600px;
  transition: all 0.5s ease;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-content h1 {
  font-family: var(--font-titulo);
  font-size: 4rem;
  color: var(--color-primary);
  letter-spacing: 5px; 
}

.header-content-text {
  font-family: var(--font-titulo);
  font-size: 3rem;
  font-weight: bold;
  color: var(--color-secondary);
  text-align: center;
  letter-spacing: 3px; 
}

.boas-vindas {
  padding: 20px;
  text-align: center;
  font-family: var(--font-texto);
  font-size: 2.5rem;
  margin: 10px 20px;
}


main {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.subtitulos {
  font-family: var(--font-titulo);
  font-size: 3rem;
  letter-spacing: 5px; 
  color: var(--color-primary);
  text-align: center;
  margin: 40px 0;
}

.sobre-content {
  display: flex;
  flex-direction: row;
  padding: 50px;
  margin: auto;
}

.sobre-text {
  width: 50%;
  padding: 20px;
  font-family: var(--font-texto);
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: justify;
}

.sobre-image {
  width: 50%;
  padding: 10px;
  text-align: center;
}

.adv-img {
  width: 70%;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
  margin-left: 30px;
}
.adv-img:hover {
  transform: scale(1.05);
}


.servicos-content {
  background-image: url(img/interior-de-espaco-de-escritorio-moderno.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.6);
  height: 600px;
}

.servicos-content ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  margin: auto;
}

.servicos-content ul li {
  list-style: none;
  font-family: var(--font-texto);
  font-size: 2rem;
  line-height: 1.5;
  border: 1px solid var(--color-primary);
  border-radius: 10px;
  width: 300px;
  height: 300px;
  padding: 10px;
  text-align: center;
  margin: 20px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-primary);
}

.servicos-content ul li:hover {
  background-color: var(--color-secondary);
  color: var(--color-background);
  transition: all 0.5s ease;
}

.contato-content {
  height: 500px;
}