@font-face {
  font-family: ROMANUS;
  src: url(fonts/ROMANUS.otf) format(opentype);
}

:root {
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-primary: #DFD0B8;
  --color-secondary: #948979;
  --color-tertiary: #3C5B6F;
  --color-background: #153448;
  --color-degrade:linear-gradient(to left, #153448, #091720);


  --font-titulo: 'ROMANUS', sans-serif;
  --font-texto: 'Arial', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {

  background-image: url(img/background.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.link-whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.link-whatsapp img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
}

.link-whatsapp:hover {
  transform: scale(1.20);
}

.link-whatsapp-text {
  background-image: linear-gradient(to right, #3f8f41, #2a5f2c);
  border-radius: 50px;
  padding: 10px 20px;
  text-align: center;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--color-white);
  font-family: var(--font-texto);
  display: flex;
  align-items: center;
  margin-top: 50px;
  transition: transform 0.3s ease;
}

.link-whatsapp-text img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.link-whatsapp-text:hover {
  transform: scale(1.05);
}


.header-content {
  background-image: url(img/img-header3.jpg);
  background-size: cover;
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-color: rgba(0, 0, 0, 0.781);
  border-bottom: 3px solid var(--color-primary);

  width: 100%;
  height: auto;
  min-height: 800px;
  padding: 0 5%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.header-content_title {
  font-family: var(--font-titulo);
  font-size: 4.5rem;
  color: var(--color-primary);
  letter-spacing: 6px; 
  font-weight: 900; 
  text-shadow: 2px 2px 8px #000, 0 0 2px #000; 
}

.header-content_subtitle {
  font-family: var(--font-titulo);
  font-size: 3rem;
  font-weight: bold;
  color: var(--color-secondary);
  text-align: center;
  letter-spacing: 3px; 
  text-shadow: 1px 1px 6px #000, 0 0 2px #000;
}

.header-content_welcome,
.header-content_welcome_extra {
  text-shadow: 1px 1px 6px #000, 0 0 2px #000;
  font-weight: 600;
}

.header-content_welcome {
  padding: 20px;
  text-align: center;
  font-family: var(--font-texto);
  font-size: 2.5rem;
  margin: 10px 20px;
  color: var(--color-white)
}

.header-content_welcome_extra {
  font-family: var(--font-texto);
  font-size: 1.5rem;
  color: var(--color-white);
  margin-top: 10px;
}


main {
  display: flex;
  flex-direction: column;
  margin: auto;
}


.sobre-content {
  display: flex;
  flex-direction: row;
  padding: 50px;
  margin: auto;
  background-image: var(--color-degrade);
  border-: 3px solid var(--color-primary);
  border-bottom: 3px solid var(--color-primary);
}

.sobre-text {
  width: 50%;
  padding: 20px;
  font-family: var(--font-texto);
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: justify;
}

.sobre-image {
  width: 50%;
  padding: 10px;
  text-align: center;
}

.adv-img {
  width: 70%;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
  margin-left: 30px;
}
.adv-img:hover {
  transform: scale(1.05);
}

.servicos-content {
  height: 800px
}

.sobre-content {
  height: 600px
}

.contato-content {
  height: 400px;
}